@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
 */
:root {
  --primary-color: #c2410c;
  --footer-text: #393d43;
}

h1 {
  font-size: 3rem;
  margin: 1rem auto;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.nav {
}
.navbar-color, .bg-transparent {
  background-color: #c2410c;
  position: sticky;
  top: 0;
}
.swiper {
  width: 100%;
  height: 400px;
}
.custom-slider {
  min-height: 420px;
  margin-bottom: 2rem;
  z-index: 0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.z {
  z-index: 0;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.m-info {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}
.m-info h1 {
  word-wrap: break-word;
}
.auth-temp {
  height: clamp(100vh - 64px);
}
.info-list div .mission-icon {
  width: 70px;
  height: 70px;
}
.mission-info {
  font-size: 0.95rem;
  margin-left: 10px;
}
.mission-card {
  margin: 0 auto;
  width: 30%;
  max-width: 380px;
  min-width: 300px;
  margin: 10px auto;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.section-heading {
  font-size: 2rem;
}
.hero-container {
  width: 100%;
  height: 100vh;
  background-image: url("/Child-Hunger-cover-transformed.jpeg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.educate-child {
  background-image: url("/childEdu-back.jpeg");
}

.disabled {
  background-image: url("/ability-1.jpg");
}

.elder {
  background-image: url("/EldersLiveMatter.jpg");
}

.heal {
  background-image: url("/heal-back.jpg");
}

.content-center {
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.title-heading {
  font-size: 3rem;
  font-weight: bold;
}
.title-tagline {
  font-size: 2.5rem;
  font-weight: 500;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.content-footer {
  position: absolute;
  bottom: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.1rem;
  color: white;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.footer-action {
  color: #000;
}
.subtext {
  font-size: 1rem;
  line-height: 1.7rem;
}
.footer-h {
  font-size: 1.5rem;
}
.children-helping {
  background-color: #fff;
  padding: 0.4rem;
}
.footer-action button {
  background-color: #fff;
  padding: 0.4rem;
  transition: 0.5s;
}
.footer-action button:hover {
  background: rgba(255, 255, 255, 0.4);
}
.hero-donate {
  background-color: var(--primary-color);
}
.section-container {
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section-info,
.section-img {
  min-width: 45%;
  max-width: 50%;
}
.section-info .share {
  line-height: 2rem;
}
.section-info h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 500;
}
.section-img img {
  width: clamp(80%, 90%, 100%);
  max-width: 600;
  height: auto;
  margin: 0 auto;
}
.section-subheading {
  font-size: 2em;
  font-weight: 500;
}
.section-2-img {
  filter: grayscale(100%);
  position: relative;
  left: -5%;
}
.section-2 {
  background-color: #f5f5f5;
  max-width: none;
  margin-bottom: -2rem;
}
.section-icon {
  color: hsl(17, 88%, 50%);
  font-size: 3.5rem;
  margin-right: 2rem;
  padding-left: 2rem;
}
.icon-bar {
  margin: 1rem auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.bar-heading {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
}
.bar-text {
  font-size: 1.2rem;
  font-weight: 500;
}
.section-subtitle,
.ngo-heading {
  font-size: 1.5rem;
  color: #000;
}
.ngo-icons {
  max-width: 150px;
}
.NGOs,
.section-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 2rem auto;
}
.section-share-h {
  font-size: 2rem;
}
.share-text {
  font-size: 1.2rem;
}
.share-fb {
  background-color: rgb(59, 89, 152);
}
.share-wa {
  background-color: rgb(77, 215, 88);
}
.share-btn {
  margin: 1rem 0;
}
.mission-donation {
  max-width: 370px;
  margin: 1rem auto;
}
.mission-donation input {
  border-color: 2px solid var(--primary-color);
  outline-color: var(--primary-color);
  margin-block: 1rem;
}
.mission-donation input:focus {
  outline-color: var(--primary-color);
  border-color: var(--primary-color);
}
.donate-heading {
  font-size: 1.5rem;
}
.d-btn-container {
  border: 1px solid #b8b4b4;
  background-color: #b8b4b4;
  width: fit-content;
  margin: 0 auto;
  padding: 2px;
  border-radius: 5px;
}
.d-btns {
  padding: 0.3em 1em;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.btn-active {
  background-color: var(--primary-color);
  color: #fff;
}
.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.switch-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #555;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch-btn.active {
  background-color: #555;
  color: #fff;
}

.component-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* Additional styles for ComponentA and ComponentB */

.component-container h2 {
  color: #555;
  margin-bottom: 10px;
}

.component-container p {
  color: #777;
}
.monthly-ammount {
  border: 2px solid black;
  width: fit-content;
  margin: 5px auto;
  font-size: 1.1rem;
}
.children-helping {
  border-inline: 2px solid black;
}
.footer-container {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.stat-h {
  font-size: 1.2rem;
}
.form-links {
  text-decoration: underline;
  font-size: 0.95rem;
}
.ngo-input {
  width: clamp(200px, 250px, 300px);
}
.ngo-registration {
  width: clamp(450px, 600px, 800px);
  backdrop-filter: blur(5px);
  z-index: 0;
}
.auth-component {
  width: 100%;
  max-width: 800px;
  min-width: 800px;
}
.hide {
  display: inline;
}
[type="submit"] {
  background-color: #c2410c;
}
.ngo-form  {
  background-color: whitesmoke;
}
.ngo-registration {
  max-width: 80vh;
}
.g-container {
  width: 100vw;
  height: calc(100vh - 68px);
  background: url('https://images.unsplash.com/photo-1617450365226-9bf28c04e130?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}
.gateway-container {
  width: clamp(800px, 1000px, 70%);
  height: 70%;
/*   background-color: rgba(255, 255, 255, 0.1);
 */  color: #fff;
/*   backdrop-filter: blur(4px);
 */  border-radius: 10px;
 
}
.gateway-input {
  min-width: clamp(525px, 600px, 70%);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  height: fit-content;
  padding-bottom: 10px;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.gateway-output {
  min-width: clamp(325px, 400px, 35%);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.gateway-logo {
  width: 125px;
  height: auto;
  border-radius: 10px;
}
.gateway-header {
  padding-block: 10px;
}
.gateway-date {
  font-size: 1.5rem;
  
}
.g-i {
  border: 1px solid var(--primary-color);
  font-size: 1.3rem;
}
.details-div input, .details-div div {
  min-width: 45%;
  max-width: 47%;
  text-align: center;
}
.details-div div p {
  margin-bottom: 3px;
}
.details-div p {
  position: relative;
  top: 10px;
  font-size: 1.1rem;
}
.g-i:focus {
  border: none;
  outline-width: 1px;
  outline-color: #c2410c;
  outline-offset: -3px;
  --tw-ring-color: var(--primary-color);
}
.card-header-icon {
  width: 50px;
  height: auto;
  rotate: 270deg;
}

.card-text {
  color: #000;
  font-size: 1.2rem;
}
.hidden-no {
  -webkit-text-security: disc; /* For Safari, Chrome, and Opera */
  -moz-text-security: disc; /* For Firefox */
  text-security: disc; /* For future browser compatibility */

  /* Additional styles */
  display: inline-block;
  margin-right: 10px;
}
.credit-card {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  min-height: 250px;
  max-width: 200px;
  margin-block: 1.5rem;
  background-color: #b8b4b4; 
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: relative;
  bottom: 100px;
}
.checkout-details {
  position: relative;
  top: -50px;
}
.g-lbl {
  font-size: 1.1rem;
}
.checkout-details h2   {
  position: relative;
  top: -20px;
  margin-bottom: 10px;
  color: #1f2b53;
}
.checkout-hr {
  border: none;
  height: 1px;
  background: #000;
  background: repeating-linear-gradient(90deg,#1f2b53,#1f2b53 6px,transparent 6px,transparent 12px);
}
.recipt-container {
  position: absolute;
  bottom: 0;
  width: 80%;
 left: 10%;
 max-height: 450px;
 background-color: #EFF4F8;
 border-radius: 10px;
 margin-block: 1rem;
}
.d-ammount {
  font-size: 2rem;
}
.ammount-c {
  position: relative;
  top: -50px;
}
.page-not-found {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;
}
.u-mission-list h2{
  font-size: 1.5rem;
  line-height: 3rem;
}
@media only screen and (max-width: 1000px) {
  .mission-card {
    margin-block: 1rem;
  }
  .hide {
    display: none;
  }
  .mission-info {
    min-width: 300px;
    max-width: 600px;
    width: 35ch;
    margin: 5px;
  }
  .section-container {
    flex-direction: column;
    margin-top: 1rem;
  }
  .section-heading,
  .section-subheading {
    text-align: center;
  }
  .section-info,
  .section-img {
    min-width: none;
    width: 95%;
    max-width: clamp(500px, 650px, 800px);
    margin: 10px;
  }
  .section-img img {
    max-width: 500px;
  }
  .footer-container {
    display: block;
  }
  .ngo-registration {
    position: relative;
    left: -5rem;
    max-width: none;
  }
}
